[2017-08-23 11:50] bokhary3 opened #1 "UIButton action not appear"
After downloading your awesome pod I faced problem where I can't add Action connection for button from storyboard I get only outlet and collection outlet connections , But After searching I get the error is that in MOLHFontLocalizableViews.swift file you conforms MOLHFontable protocol and after delete conform of protocol the action connect return again , so please check this issue.
Thanks

[2017-08-24 06:50] MoathOthman commented on #1
Thanx for reporting that , I will check it ASAP

[2017-08-24 09:41] MoathOthman commented on #1
Hi , it seems like a bug in xcode you may check
https://forums.developer.apple.com/thread/25180
I checked it with xcode9b4 and it's working fine .

[2017-08-24 09:49] bokhary3 commented on #1
Ok thanks

On Thu, Aug 24, 2017 at 11:41 AM Moath othman <notifications@github.com>
wrote:

[2017-08-24 09:52] #1 closed

[2017-10-03 12:06] vikramsinghcharan opened #2 "change language like(english, arabic, chinese, korean, russian)"
hello

i'm newbee in ios developer. could your please tell me how to loacalize in all these language :- english, arabic, chinese, korean, russian

[2017-10-03 12:34] MoathOthman commented on #2
Hi @vikramsinghcharan  , add string files e.g. Localizable.string.  click on your project -> projectname -> under the info tap you will find localization aria -> click on the plus button and add the languages you need.  it will ask you what you want to localize then choose the needed files e.g.  Localizable.string.
I found this tutorial that cover the process https://medium.com/lean-localization/i

[2017-10-04 06:04] vikramsinghcharan commented on #2
Thank you very much MoathOthman for your reply. but my main problem is that while i'm using MOLH library for localization than it always access english, arabic  Localizalbe.string file. i'm not able to access any other languages Localizalbe.string file in my app. I can't see any change regarding this.

[2017-10-04 12:36] MoathOthman commented on #2
Let me check that  .

[2017-10-05 07:39] deya-eldeen opened #3 "sometimes the back button get's flipped in a wrong way"
Hello, see the back button get's flipped...

![simulator screen shot oct 5 2017 10 35 51 am](https://user-images.githubusercontent.com/7140673/31215723-5642c6c2-a9b9-11e7-819a-95322a27a698.png)

[2017-10-05 07:54] deya-eldeen commented on #3
it looks like it's solved when I added the Arabic language as a language in the info from build settings.

[2017-10-05 08:03] MoathOthman commented on #3
is it a custom back button or the default one?! , if its custom you need to check for the language when you create it and use the correct behavior .
e.g.

`  func setupBackButton() {
        self.navigationItem.backBarButtonItem = nil;
        var backButtonBackgroundImage = UIImage(named: "back")?.withAlignmentRectInsets(UIEdgeInsets(top: 0, left: -50, bottom: -5, right: -100))
        if MOLHLan

[2017-10-05 08:04] MoathOthman commented on #3
Aha , good to hear that. 👍

[2017-10-11 12:06] vikramsinghcharan commented on #2
thank you for your help. And it's nice library.

[2017-10-12 13:26] MoathOthman commented on #2
you're very welcome

[2017-10-12 13:26] #2 closed

[2017-10-12 13:26] #3 closed

[2018-01-09 13:13] EMakadiya opened #4 "RTL and LTR is not working with TabbarController."
Hey moath

Thanks for your awesome library :)

My Project have slide menu and tabbar controller. So My app rootviewcontroller is slide menu and that side menu have center and left view controller.

So when I am trying to change language from app then side menu left and center viewcontroller's alignment is not working. All other viewcontroller's alignment is working fine.

When I relaunch app then

[2018-01-10 12:52] MoathOthman commented on #4
Hey Ekta,
maybe your not restarting the views correctly ,
try using these lines when u reset the views
window?.rootViewController?.dismiss(animated:false)
window?.rootViewController = <your first view>

Best of luck

[2018-01-11 20:39] vishnuprasadku opened #5 "App is lagging after language change"
Hii , thanks for your great work.

I got a performance issue with the pushing of new viewcontrollers after switching the langugaes. The pushing seems to be laggy. I have tried to use the main thread, but the issue is still there. Any solution for this??

[2018-01-12 11:34] MoathOthman commented on #5
This is probably because you are not resetting the Views correctly , e.i you are not removing the previous Views and hence they stay in the memory and causes the lag,

[2018-01-12 11:48] vishnuprasadku commented on #5
Thanks for answering,
I have resetted the root view controller successfully, even after that the
pushing of view controllers is lagging,I have tried instruments to check if
any memory leaks exists, but couldn't find anything

On Fri, Jan 12, 2018 at 5:04 PM, Moath othman <notifications@github.com>
wrote:

[2018-01-12 15:15] MoathOthman commented on #5
hey @vishnuprasadku
after reseting the views try to debug the hierarchy by clicking on "Debug View hierarchy"

![screen shot 2018-01-12 at 16 14 49](https://user-images.githubusercontent.com/1166727/34881409-ca719882-f7b3-11e7-8bd1-2e309741d24b.png)

And see if there are hidden views that still there.

[2018-01-29 12:00] rajendranVivensas opened #6 "Language Change Design not working"
I have applied the language reset option. But the language change not applied exactly as needed. Change the language using set language option, and the design applied only when i close the app & reopen the app. Also some times Arabic to English change some layout changing from LTR to RTL. But the language text not updated.Keep the same language text.

Label inside the Tableview cell not aligned th

[2018-01-29 15:11] MoathOthman commented on #6
@rajendranVivensas MOLH will call reset function on Appdelegate if its implemented.
You can check how its implemented in the demo.
Regards ,

[2018-01-29 15:11] #4 closed

[2018-01-29 15:12] MoathOthman commented on #5
@vishnuprasadku have you managed to solve it .

[2018-02-09 20:51] #5 closed

[2018-03-14 12:12] baljit92 opened #7 "Placeholder for Textfield goes outside the border"
Hi,

I am using your `MOLH` pod. The issue is that the custom placeholder text goes outside the field. Please see the screenshot attached.

Thanks
<img width="333" alt="screen shot 2018-03-14 at 3 11 15 pm" src="https://user-images.githubusercontent.com/5225501/37401751-29aafbf2-279a-11e8-84b9-09834594d72b.png">

[2018-03-14 16:10] MoathOthman commented on #7
@baljit92 can you show the whole textfield and points the limit of it, thnx

[2018-03-14 16:44] baljit92 commented on #7
@MoathOthman I have attached the entire textfield along. So the placeholder text is supposed to "رقم الهاتف" in the `UITextField`. The placeholder text is programmatically created through a `NSMutableAttributedString`.
<img width="322" alt="screen shot 2018-03-14 at 7 39 16 pm" src="https://user-images.githubusercontent.com/5225501/37416894-0d9692de-27c0-11e8-9804-e20f805a76cb.png">

[2018-03-15 01:22] MoathOthman commented on #7
thats really weird ,
I tried to reproduce it by using
        textField.attributedPlaceholder = NSAttributedString(string: "بلعلابي هلا")
and it looks fine ,
did you make any other changes that might affected it , like padding Views !!
what happens if you dont set the text alignment.
MOLH wont touch the placeholder since its of a private type UITextFieldLabel. and you cant set the tag of it unless

[2018-03-15 04:07] baljit92 commented on #7
Not really. If I don't set the alignment; the placeholder remains on the left side (default).

This is all I do.

       usernameField.layer.cornerRadius = 10

        usernameField.layer.sublayerTransform = CATransform3DMakeTranslation(usernameField.layer.frame.width/7, 0, 0);

        var myUsernameMutableStringTitle = NSMutableAttributedString()
        let unamePlaceholder = NSLocalizedString(

[2018-03-15 14:16] MoathOthman commented on #7
@baljit92 this is the reason
   ` usernameField.layer.sublayerTransform = CATransform3DMakeTranslation(usernameField.layer.frame.width/7, 0, 0);`

why would you use it ? what will happen if you remove it

[2018-04-27 18:46] MoathOthman opened #8 "Supporting UITextView"
ref: https://medium.com/@omarhasan9394/great-work-thanks-2cc09eddb632

notes:
this might be as the same as with the textfield or related.

acceptance criterea ;
the text input direction should follow the language direction.

[2018-04-27 18:52] MoathOthman opened #9 "layoutsubview instead of swizzling"
we may override layoutsubviews in the extensions instead of swizzling ,

**AC**
 Try that out and if it does not break things , consider using it.
we need yet to make it optional as with swizzling.

issues
- textField placeholder stop showing

[2018-04-27 18:54] MoathOthman commented on #7
will close this as its not active

[2018-04-27 18:54] #7 closed

[2018-04-27 18:54] #6 closed

[2018-04-29 07:14] AhmadFayyas opened #10 "Supporting Swift 4"
So far, it works in conjunction of letting the "Swift Language Version" to be 3.2 even with Swift 4 projects, otherwise I will start seeing compile errors in many library files. However, shall we migrate it to support Swift 4?

[2018-04-29 08:48] AhmadFayyas commented on #8
According to my experiments for tracing the issue, it seems that [UIKeyInput](https://developer.apple.com/documentation/uikit/uikeyinput) components alignment does not get affected by `semanticContentAttribute`. Note that _not_ all components with `textAlignment` have this issue since the UILabel responds to `semanticContentAttribute` effect _iff_ its `textAlignment` is `natural`, however even if

[2018-04-29 09:07] MoathOthman commented on #10
That would be great , we can have a release fir swift 4 and fix swift3.2 release after we figure out the textview issue if we could.
Lets keep this issue around since there are a couple of other issues pointed in the main blog that i would like to address first.
What do you think?

Sent from my iPhone

On Apr 29, 2018, at 9:14 AM, Ahmad Fayyas <notifications@github.com<mailto:notifications@github.

[2018-04-29 11:01] MoathOthman commented on #8
@AhmadFayyas thank you for your insights , that seems legit since the the direction of the text should depends on the direction of the user input , yet what we are trying to solve here is a bit different since we just need to make the placeholder alignment looks the same as with the other components.
currently its applied to the uitextField, but its not perfect though .

[code]
 the issue with the

[2018-04-30 11:55] AhmadFayyas commented on #8
Ok, so let's split the issue to make it more clear.

For the **text field**:

is this the expected result?
![apr-30-2018 14-52-31](https://user-images.githubusercontent.com/15219320/39425948-6dac5d76-4c86-11e8-845d-db40033faafc.gif)

At some point we could change the alignment of the placeholder itself and enforce the the text alignment to be the desired one, regardless of what's the used language

[2018-04-30 12:58] MoathOthman commented on #8
I think what you have done for the textfield is great if we can only make the placehold alignment to match the user input language direction so arabic start feom right always,
If you can make a PR and we can take this from there,
For text view we will keep this issue open and dedicated for textView .
Thoughts?

Sent from my iPhone

On Apr 30, 2018, at 1:55 PM, Ahmad Fayyas <notifications@github.co

[2018-04-30 21:43] MoathOthman opened #11 "Menu Controller"

[2018-05-08 10:57] vaibhav319 opened #13 "Issue in Swift4"
When we change current Language to another language (english to arabic), it works fine . but now when we change language to previous one.(arabic to english) Its not working fine. UIApplication.isRTL() is false first time, when we change language , UIApplication.isRTL() is now true. but now when we change no matter in which language UIApplication.isRTL() is always true. but when we quit app and sta

[2018-05-10 19:11] MoathOthman commented on #13
@vaibhav319I would suggest not to use UIApplication.isRTL() , and to use MOLHLanguage.isRTLLanguage(). please let me know if it helps

[2018-05-17 10:52] hassanmohsen opened #14 "select collection cell or tableview cell"
I have problem  when i active swizzling by this line

MOLH.shared.activate(true)

with some collection view or table view  selection give me this error

2018-05-17 12:48:19.391146+0200 TestApp[3370:61813] -[UIButton _tvUpdateContentBackdropView]: unrecognized selector sent to instance 0x7f9993f36460
2018-05-17 12:48:19.409001+0200 TestApp[3370:61813] *** Terminating app due to uncaught exception '

[2018-05-28 07:34] lamatat opened #15 "Theres 13 issues in the library"
Hi,
Thank you so much for this amazing library ...
i want to use it in my project but i got 13 issues in the library...

![screen shot 2018-05-28 at 10 31 28 am](https://user-images.githubusercontent.com/39458325/40602812-a0528100-6262-11e8-8345-76bd7d5c50d4.png)

would you please solve them?

thanks! :)

[2018-05-28 08:11] #15 closed

[2018-05-28 08:11] lamatat commented on #15
just fixed it ...

[2018-05-28 08:23] lamatat opened #16 "need to restart to see language change"
i have used your library and its working just awesome!
but my problem is that i need to restart to see the language change .. how to to see language change without a restart just like your demo?

[2018-05-28 10:26] MoathOthman commented on #15
We will do the migration asap :)

Sent from my iPhone

On May 28, 2018, at 10:11 AM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

just fixed it ...

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/MoathOthman/MOLH/issues/15#issuecomment-392453877>, or mute the thread<https://github

[2018-05-29 10:47] lamatat opened #17 "converting language from ar to eng or reverse"
am getting this error when changing the language to eng from ar

![screen shot 2018-05-29 at 1 44 29 pm](https://user-images.githubusercontent.com/39458325/40654339-b16cade6-6346-11e8-96d2-7df91ffa09a9.png)

what is this error and how to solve it please?

thanks in advance..

[2018-05-30 11:39] lamatat commented on #17
any news about this?

[2018-05-30 11:41] MoathOthman commented on #17
Hey
let me check it later on tonight .

Sent from my iPhone

On May 30, 2018, at 2:39 PM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

any news about this?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/MoathOthman/MOLH/issues/17#issuecomment-393129622>, or mute the thread<https:

[2018-05-30 11:42] MoathOthman commented on #17
If you can give me more info about the environment,
Have you tried the demo project?
Can you reproduce the issue there?

Sent from my iPhone

On May 30, 2018, at 2:39 PM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

any news about this?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.

[2018-05-30 11:45] lamatat commented on #17
yes i did tried it .. i will try doing that and let you know ..

[2018-05-30 11:49] lamatat commented on #17
i just tried but didn't know how to do it x_x
but i think this happened when i used MOLHLanguage.isArabic()

[2018-05-30 11:50] MoathOthman commented on #17
What happens if you use isRTL instead

Sent from my iPhone

On May 30, 2018, at 2:49 PM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

i just tried but didn't know how to do it x_x
but i think this happened when i used MOLHLanguage.isArabic()

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MoathO

[2018-05-30 12:00] lamatat commented on #17
got same error ...

trie to comment them all .. and worked without errors .. so the problem is really from MOLHLanguage.isArabic() and MOLHLanguage.isRTL()

but i need to know if its arabic or not so i need to use one of them :(

if you please can help me solve this

thanks in advance!

[2018-05-30 12:12] MoathOthman commented on #17
what are the languages you are supporting and how many?

Sent from my iPhone

On May 30, 2018, at 3:00 PM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

got same error ...

trie to comment them all .. and worked without errors .. so the problem is really from MOLHLanguage.isArabic() and MOLHLanguage.isRTL()

but i need to know if its arabic or not so i need to use one

[2018-05-30 12:16] lamatat commented on #17
just two .. english and arabic

[2018-05-30 12:19] MoathOthman commented on #17
can you replace the function with this
 /// get current Apple language
    public class func currentAppleLanguage() -> String {
        let userdef = UserDefaults.standard
        let langArray = userdef.object(forKey: APPLE_LANGUAGE_KEY) as! NSArray
        let current = langArray.firstObject as! String
        let currentWithoutLocale = current.substring(to: current.index(current.startIndex, off

[2018-05-30 12:26] lamatat commented on #17
![screen shot 2018-05-30 at 3 25 48 pm](https://user-images.githubusercontent.com/39458325/40719930-c1d0794c-641d-11e8-81a4-1e638f537a77.png)

got the same error in next function ...

[2018-05-30 12:29] MoathOthman commented on #17
Ok then please use the latest commit then , the release is not updated apparently .
U can do that on your podfile

Sent from my iPhone

On May 30, 2018, at 3:26 PM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

[screen shot 2018-05-30 at 3 25 48 pm]<https://user-images.githubusercontent.com/39458325/40719930-c1d0794c-641d-11e8-81a4-1e638f537a77.png>

got the same erro

[2018-05-30 12:32] lamatat commented on #17
you just to do pod update?
or do you have a version number to add in podfile?

[2018-05-30 17:07] MoathOthman commented on #17
@lamatat you can use pod 'MOLH',:git => 'https://github.com/MoathOthman/MOLH.git'

[2018-05-30 17:09] MoathOthman commented on #16
@lamatat make sure to reset the views as in the demo. we set the root again.

[2018-05-31 07:07] lamatat commented on #17
i got this [!] Unable to find a specification for 'MOLH'.

[2018-05-31 08:02] MoathOthman commented on #17
@lamatat

its fixed now , thanx for pointing it out. please try again.

[2018-05-31 08:33] lamatat commented on #17
am getting the same error even after updating the pod

![screen shot 2018-05-31 at 11 32 19 am](https://user-images.githubusercontent.com/39458325/40771558-56bf4ef4-64c6-11e8-81ae-3c5728dc697d.png)

[2018-06-01 21:41] MoathOthman commented on #17
@lamatat can you debug it , print the result of userdef.object(forkey: ....)

[2018-06-01 21:50] lamatat commented on #17
got this:
Optional(<__NSSingleObjectArrayI 0x125d6bd70>(
ar
)
)
before crashing...

[2018-06-01 21:58] MoathOthman commented on #17
NSSingleObjectArray!, interesting , I think you have only one language for the device which is arabic, right? , if you go to settings app -> general -> languages , you should see one language, right?

[2018-06-01 22:04] lamatat commented on #17
no there's 2 .. english and arabic

[2018-06-01 22:07] lamatat commented on #17
sorry i was running the app with arabic language x_x
now changed it to system language and got this:
Optional(<__NSCFArray 0x13de224a0>(
ar,
en
)
)

[2018-06-01 23:15] MoathOthman commented on #17
@lamatat do you still get the crash then?

[2018-06-01 23:21] MoathOthman commented on #16
@lamatat I think this is related to setting the language in the schme settings , right?

[2018-06-02 00:34] lamatat commented on #17
yes i do
same crash as the screenshot above

[2018-06-02 21:16] MoathOthman commented on #17
mmmm, thats really weird. is there any environment factors you have, did you try it on device while not in debug mode?
I updated the code to swift 4 , can you pod install again and try?

[2018-06-03 07:07] lamatat commented on #17
same :(
please help me solve this T_T

[2018-06-03 07:36] lamatat commented on #17
found out something ...
this is only happens when used in: class TextField: UITextField for example...
any idea?

[2018-06-03 09:45] MoathOthman commented on #17
@lamatat  since textfield functionality is not that perfect,
comment out the line where its swizzled ..
`swizzle(class:UITextField.self, sel: #selector(UITextField.layoutSubviews), override: #selector(UITextField.cstmlayoutSubviews))`

[2018-06-05 06:58] lamatat commented on #17
just found something ...
this has nothing to do with your library ...
because i have tried:
        let pre = Locale.preferredLanguages.first
         if pre == "ar"{
         ......
         }
and got the same error! which is really wired!

sorry for all the trouble but it has nothing to do with your awesome library :)
i have another question i will open new issue if you please can check it out .

[2018-06-05 06:58] #17 closed

[2018-06-05 07:00] lamatat opened #19 "some subviews didn't flip"
i have in my view a navigation view ... mostly on all pages ..
strangely some of these navigation views didn't flip when change language when most of them did flip .. why?

[2018-06-05 07:09] MoathOthman commented on #19
Depends on the view type,
Did u set the tag correctly?
Some views like uiimagevirw needs manual flipping or if u use custom constraints you may also need to do that manually.

Sent from my iPhone

On Jun 5, 2018, at 10:00 AM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

i have in my view a navigation view ... mostly on all pages ..
strangely some of these navigation

[2018-06-05 07:10] MoathOthman commented on #17
Thnx for letting me know , please tell us what was the issue when u find the solution.
Thnx

Sent from my iPhone

On Jun 5, 2018, at 9:58 AM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #17<https://github.com/MoathOthman/MOLH/issues/17>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Mo

[2018-06-05 07:33] lamatat commented on #19
which tag do you mean?
and the items which are not flipping are buttons..

[2018-06-05 07:34] lamatat commented on #17
sure.. thanks you :)!

[2018-06-05 07:56] MoathOthman commented on #19
For example button.tag should be less than zero

Sent from my iPhone

On Jun 5, 2018, at 10:33 AM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

which tag do you mean?
and the items which are not flipping are buttons..

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/MoathOthman/MOLH/issues/19#issuecom

[2018-06-05 08:02] lamatat commented on #19
just tried that .. but didn't work ...
how to flip it manually?

[2018-06-05 08:31] MoathOthman commented on #19
Can u provide a screenshot, do u use autolayout

Sent from my iPhone

On Jun 5, 2018, at 11:02 AM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

just tried that .. but didn't work ...
how to flip it manually?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/MoathOthman/MOLH/issues/19#issuecomment-39461

[2018-06-05 08:43] lamatat commented on #19
here ...

![screen1](https://user-images.githubusercontent.com/39458325/40965084-8259b2a0-68b5-11e8-9193-4143485fecbd.png)

![screen2](https://user-images.githubusercontent.com/39458325/40965100-8d495684-68b5-11e8-930e-5dc440aabd94.png)

as you can see that all of the views and its items flipped .. but the button in the red circle ...

[2018-06-05 11:40] lamatat commented on #19
any news?

[2018-06-05 14:21] MoathOthman commented on #19
Can u provide a screenshot, do u use autolayout

Sent from my iPhone

On Jun 5, 2018, at 11:31 AM, moath othman <m_torch@hotmail.com<mailto:m_torch@hotmail.com>> wrote:

Can u provide a screenshot, do u use autolayout

[2018-06-06 09:17] lamatat commented on #19
solved..

it was something with the constraints once updated it worked!

thanks again :)

[2018-06-06 09:17] #19 closed

[2018-06-06 10:00] lamatat opened #20 "how to set language"
i have two buttons arabic and english .. when clicked on arabic i want to change language to arabic and same with english ...

so i cannot use  MOLH.setLanguageTo(MOLHLanguage.currentAppleLanguage() == "en" ? "ar" : "en")

i tried  MOLH.setLanguageTo("en") but it didn't do anything ... how to do it?

[2018-06-06 12:14] MoathOthman commented on #20
As you are doing already , you’re need to reset the views , check the demo on how its done , it might help u

Sent from my iPhone

On Jun 6, 2018, at 1:00 PM, lamatat <notifications@github.com<mailto:notifications@github.com>> wrote:

i have two buttons arabic and english .. when clicked on arabic i want to change language to arabic and same with english ...

so i cannot use MOLH.setLanguageTo(MOL

[2018-06-06 12:21] lamatat commented on #20
yes i did but still didn't change...

[2018-06-11 20:30] merovic opened #21 "UIStackviews Doesn't change its direction until restarting the app but anything else works well"

[2018-06-11 21:46] MoathOthman commented on #21
I have not faced issues with stackViews,
What does not change the direction, stackview itself or its content !
Regards,

Sent from my iPhone

On Jun 11, 2018, at 11:30 PM, Amir Ahmed Morsy <notifications@github.com<mailto:notifications@github.com>> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/MoathOth

[2018-06-11 22:28] merovic commented on #21
no only its content, stackview itself is changing its direction very well

[2018-06-12 20:53] MoathOthman commented on #21
what type of contents you have ? @merovic , if you can fork the project and add an example to the demo and then post the link it would be great.

[2018-06-13 12:19] lamatat opened #22 "set default language to arabic"
Hi there..

is there is a way i can set the default language of my app to Arabic rather than English?

Thanks in advance.

[2018-06-13 19:39] merovic commented on #21
just 2 UILabels I added to the example itself, I gave a background color to the UILabels and a leading constrain to the UIstackview to ensure that stack view changing its direction, and i found that stack view changes its direction without any problem but the 2 uilabels inside it doesn't change their direction until I kill the application and restart it again.

I will post a link for more details.

[2018-06-15 13:41] MoathOthman commented on #21
@merovic can you provide a link, I will debug the issue and might come up with a solution. thank you

[2018-06-15 23:31] merovic commented on #21
That link contains the needed modification of MOLH Example Project to demonstrate the direction issue.

https://drive.google.com/open?id=1Z-3PKPeNh3JdLmHqtWoLRtea_HvPj540

[2018-06-17 23:17] MoathOthman commented on #21
@merovic looks you missed setting the tag to less than or equal `maximumLocalizableTag` which is by default -1 , the labels tags are 0 currently , hence they wont flip.
changing the tag should be applied to all views not just labels. so make sure you have that modified  through your app.

[2018-06-17 23:17] #16 closed

[2018-06-17 23:19] MoathOthman commented on #22
@lamatat s in application didfinishlaunch delegate method add MOLHLanguage.setDefaultLanguage

[2018-06-17 23:19] #10 closed

[2018-06-17 23:19] MoathOthman commented on #10
implemented.

[2018-06-20 05:57] #22 closed

[2018-07-12 13:56] alielephant commented on #8
I am facing the same issue.
When I switch the language to Arabic and I use English keyboard; the cursor will start from LTR instead of RTL. However, it will start from RTL when I change my keyboard language to Arabic. Any solution to fix that?

I found a solution but it will be a repeating code for every view in the storyboard.

If the app is Arabic, it will use the following code:
`textfield.text

[2018-07-14 22:49] AliHassany opened #23 "Arabic is always the defaults language"
Hi,
could you help me, what is the best way to define Arabic as the default language?

I did this in App delegate
 MOLH.shared.activate(true)
        MOLH.setLanguageTo("ar")
        MOLH.reset()

but the problem with the TextView is not RTL, I have justified and centre text attributed alignment

I need to restart the app to see the correct alignment

[2018-07-15 07:00] #21 closed

[2018-07-15 07:03] MoathOthman commented on #23
@AliHassany can you try to use MOLHLanguage.setDefaultLanguage

[2018-07-15 11:51] MoathOthman commented on #8
@alielephant its tricky one , if you have a fix please don't hesitate to submit a pr.

[2018-07-17 22:07] #23 closed

[2018-08-05 14:47] NermeenMohamed opened #24 "how to Localize app without Restart message"
I can change language from app but it changed after restart application ,
how to do it without restart message as drawn views not reset to the new localization ?

[2018-08-05 21:10] MoathOthman commented on #24
@NermeenMohamed did you check the demo , you need to reset the rootviewcontroller, in order for it to work.

[2018-08-06 09:40] NermeenMohamed commented on #24
yes I checked it .. when I use MOLH it change views from RTL or LTR Fine but not localize labels it need s to restart app

[2018-08-06 09:44] MoathOthman commented on #24
The appdelegate needs to implement the reset function and confirm to molhresetable
And there you need to reset the rootviewcontroller , do you do that ?

Sent from my iPhone

On Aug 6, 2018, at 12:40 PM, Nermeen Mohmed <notifications@github.com<mailto:notifications@github.com>> wrote:

yes I checked it .. when I use MOLH it change views from RTL or LTR Fine but not localize labels it need s to res

[2018-09-01 10:07] shayanaghajan opened #25 "RTL Design"
Is it okay to use .forceRightToLeft for right to left language instead of localize the app ??

[2018-09-01 11:48] MoathOthman commented on #25
its already used in https://github.com/MoathOthman/MOLH/blob/1a6c011647e78d8020c7cfd4db0838c985e523d4/MOLH/MOLH.swift#L131

am not sure what are you trying to do

[2018-09-01 13:56] shayanaghajan commented on #25
What do you do to make an RTL app ?? Do you start it RTL from beginning or make it in english and then reverse it to RTL ?

[2018-09-01 14:14] MoathOthman commented on #25
You can do either. Check molh.setdefault method

Sent from my iPhone

On Sep 1, 2018, at 4:56 PM, shayanaghajan <notifications@github.com<mailto:notifications@github.com>> wrote:

What do you do to make an RTL app ?? Do you start it RTL from beginning or make it in english and then reverse it to RTL ?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<

[2018-09-17 09:07] zahidshaikh795 opened #26 "Text Field placeholder direction is not updated first time when we change the language in both rtf and ltr cases."
![simulator screen shot - iphone x - 2018-09-17 at 14 33 19](https://user-images.githubusercontent.com/26552136/45614295-b03d6e00-ba86-11e8-9b3c-49162f71f48c.png)
![simulator screen shot - iphone x - 2018-09-17 at 14 33 14](https://user-images.githubusercontent.com/26552136/45614314-bf242080-ba86-11e8-84b9-09aa1628b973.png)
![simulator screen shot - iphone x - 2018-09-17 at 14 31 39](https://user-

[2018-09-17 18:53] MoathOthman commented on #13
release 0.2.0 is updated to swift 4.1

[2018-09-17 18:53] #13 closed

[2018-09-18 08:27] MoathOthman commented on #26
hey @zahidshaikh795 I am working on this one , I think I have a solution for it at least , you should though get the alignment correctly when you switch though , you need to set the uitextfield tag to less than zero.

[2018-09-18 11:26] zahidshaikh795 commented on #26
Settting the uitextfield tag to less than zero doesn't affect anything.
When I switch the language the ui of textfield doesn't flip. But if I run the project again then its ui is perfectly fine. Why it is not working only in case of text field.

[2018-09-18 11:38] MoathOthman commented on #26
Textfield is different since it is an input control and not just a display so we need to take in consideration the keyboard language .
Are you sure you have the latest code, currently, am not sure if the latest release point to the latest in master!!

Sent from my iPhone

On Sep 18, 2018, at 2:26 PM, Zahid Shaikh <notifications@github.com<mailto:notifications@github.com>> wrote:

Settting the uite

[2018-09-18 12:09] zahidshaikh795 commented on #26
I have installed the pod at least one week ago.It would be really appreciable if you let me know when you update the project.

[2018-09-22 12:48] AliHassany opened #27 "Font Isuus"
Hi

I would like to ask about MOLHFontLocalizableViews, how the library deals with two font localization.
is it possible to change the font type as the language of the app change from Arabic to English, keeping the same labels,textFiled..etc text size?

thanks in advance

[2018-09-22 13:15] MoathOthman commented on #26
@zahidshaikh795 I created a PR with a fix for the textfield issue, you may use 26.textfield.issue branch and tell me how it goes with , and then if its alright I will merge it . please try it as soon as possible.

[2018-09-22 13:30] MoathOthman commented on #27
for now, you need to subclass certain classes that found in MOLHFontLocalizableViews, e.g. all labels should subclass from MOLHFontLocalizableLabel,
and on the start of the app set MOLHFont.shared.arabic to the family name ,
but for the current approach you don't get to use more than one arabic font variation(I never needed to though).

[2018-09-22 13:41] AliHassany commented on #27
what do you mean by MOLHFont.shared.arabic to the family name?

[2018-09-22 15:06] MoathOthman commented on #27
Font family name e.g arial

Sent from my iPhone

On Sep 22, 2018, at 3:48 PM, AliHassany <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi

I would like to ask about MOLHFontLocalizableViews, how the library deals with two font localization.
is it possible to change the font type as the language of the app change from Arabic to English, keeping the same labels,textFiled..etc t

[2018-09-22 19:34] AliHassany commented on #27
thanks for the information, I have tried in the Demo code but I saw that it only work if the programmatically localized Label String, but not working with the interface localized Label, do you have information about implementing the different font for localized interface labels?

kindly see the edited Demo

[MOLH-master-9.zip](https://github.com/MoathOthman/MOLH/files/2408092/MOLH-master-9.zip)

[2018-09-23 08:17] MoathOthman commented on #27
@AliHassany
great to hear that , can you create a PR with your solution.

[2018-09-24 19:30] #26 closed

[2018-09-24 19:32] MoathOthman commented on #26
fixed in [0936](https://github.com/MoathOthman/MOLH/tree/093639483264892f74949e204f6fdfccbeb25d8b)

[2018-09-24 19:32] #25 closed

[2018-10-05 09:48] zahidshaikh795 opened #29 "How to set the app default language to Arabic at app install time?"
I try to change the language to Arabic from edit schema but then RTL is not working on change language button click.Is there any way to set the default language to Arabic when the app installed for the first time.

[2018-10-08 21:13] deya-eldeen opened #30 "adding an option to change animation when changing language"
Hello, some people asked me to change the animation transition when switching language....

I managed to make it as easy as
MOLH.resetWithCrossDissolve()

please make this a feature available for all :) , thanks.

the simplest way is to extend MOLH with a new reset function.... and call it
`MOLH.resetWithCrossDissolve()`
for example

[code]

[2018-10-09 13:57] MoathOthman commented on #30
@deya-eldeen thanx for the suggestion , can you make a pull request for that?

[2018-10-09 13:59] MoathOthman commented on #29
@zahidshaikh795 sorry for the late replay. seems like the current MOLHLanguage.setdefault method is not working probably . am going to check that these two days and provide a fix hopefully.

[2018-10-09 13:59] #24 closed

[2018-10-09 14:04] MoathOthman opened #31 "uibarbutton item, support"
form medium :

[2018-10-11 13:53] #30 closed

[2018-12-05 09:52] MoathOthman opened #34 "Flip Collection flow layout flow"
Flip Collection flow layout flow

[2018-12-06 06:43] bokhary3 opened #35 "Images is not mirrored in first view controller in navigation"
Hi @MoathOthman, firstly thanks for this great library,
There is a problem in the pod example, when change language to be arabic, image view in first ViewController not mirrored, if we set image view with tag = -1 in second view controller works fine, I see that if controller in navigation controller so it will loop on subviews in a navigation controller rather than a controller, I modified mirror

[2018-12-18 10:08] #35 closed

[2019-01-26 23:15] MoathOthman commented on #29
Its currently working in latest release.

[2019-01-26 23:15] #29 closed

[2019-01-26 23:16] #20 closed

[2019-04-23 07:50] arunktinnovat opened #37 "Swift 5 support"
can you please update this for supporting swift 5?

[2019-04-23 09:56] #37 closed

[2019-05-06 12:55] arunktinnovat opened #38 "UnFlip a UIView"
While switching the language to Arabic, I need a specific UIView and the UIControls inside it not to be flipped. I had tried setting the tag as -1. But it didn't worked. How to make it out?

[2019-05-06 13:09] MoathOthman commented on #38
hey @arunktinnovat
If you are using auto layout, then you can disable "respecting language direction"  check this SO question
https://stackoverflow.com/questions/19916926/disable-autolayout-localization-behavior-rtl-right-to-left-behavior

[2019-05-07 07:00] arunktinnovat commented on #38
Thank you, selecting the UIControls and unchecking the 'Respect language direction' for all the leading and trailing constraints worked :)

[2019-05-07 07:00] #38 closed

[2019-06-25 16:55] i0sa opened #39 "Prevent UIStackView from flipping"
I tried using the maximumLocalizableTag option for stackview, and it never worked, I can't prevent it from flipping, i also looked up MOLH and didn't see any integration with stackviews, How can i prevent MOLH from flipping a stackview ? not even setting semanticContentAttribute works.

[2019-06-25 22:13] MoathOthman commented on #39
hey @i0sa
if you are using autolayout , then click on the left and right constraints and from the inspector uncheck "respect language direction" option.
the flipping MOH does is for the content and has nothing to do with auto layout.

please let me know if that helps. and if my response is not clear let me know as well.

[2019-06-25 22:15] #9 closed

[2019-06-25 22:15] MoathOthman commented on #9
not going to work that way

[2019-09-05 07:44] MVakas opened #40 "Incorrect currentAppleLanguage when setting the default language."
After setting the following in AppDelegate

[code]
I'm getting the following

[code]

[2019-10-09 07:45] fo24 opened #41 "RootViewController is return with nil value and do not restart the app correctly"
Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value

[2019-10-09 07:52] MoathOthman commented on #41
@fo24 can you provide more info, e.g. which xcode version , and ios , are you using scene delegate because i have not tried it there yet ?

[2019-10-09 07:54] MoathOthman commented on #40
@MVakas sorry for the late response,  have you tried it on device?

[2019-10-09 08:06] fo24 commented on #41
@MoathOthman Many thanks for reply. i work with Xcode11 and swift5
And this is my AppDelegate
`import UIKit
import MOLH

@UIApplicationMain
class AppDelegate: UIResponder, UIApplicationDelegate ,MOLHResetable {
    var window: UIWindow?
    func reset() {
         let rootviewcontroller: UIWindow = ((UIApplication.shared.delegate?.window)!)!
               let stry = UIStoryboard(name: "Main", bun

[2019-10-09 08:18] MoathOthman commented on #41
@fo24 are you using the demo project?  i think you might have forgotten to set the initial view controller in the main storyboard or something like that.

[2019-10-09 08:29] fo24 commented on #41
![Main storyboard 2019-10-09 10-26-42](https://user-images.githubusercontent.com/31732345/66464533-7a976880-ea7f-11e9-8efe-90e951636673.jpg)
I already make it but in app delegate i added `var window: UIwindow? ` manually

[2019-10-09 09:54] MoathOthman commented on #41
@fo24 I will try to start the project with xcode11 and see what is the issue, if you could solve it as well before, please let us know here ! thnx

[2019-10-09 12:58] fo24 commented on #41
@MoathOthman i already uploaded the project in github i will invite you.

[2019-10-09 13:42] MoathOthman commented on #41
This behavior occurs because with the new scene delegate, since now on ipados an app can have multiple scenes and hence multiple rootviewcontroller so there is no shared uiapplication that has a single rootviewcontroller anymore. if you are target ios 12 or you are not supporting iPadOS or you don't want to support multiple windows , then you can remove all the scene delegates code and you should

[2019-10-09 15:18] fo24 commented on #41
Many thnx i will close the issue.

[2019-10-09 15:18] #41 closed

[2019-10-09 19:10] MoathOthman commented on #41
your welcome :)

[2019-10-26 13:12] SherifKamalSalem opened #42 "Tableview and collection view not updated when language changed"
I have view controller with tableview and collectionview included so in cellForItemfor indexpath I grabbed out the item and use property observer to fill in cell components

   var store: Store? {
        didSet {
            storeNameLbl.text = store?.name.localized
            if let url = store?.logoURL {
                storeImage.contentMode = .scaleAspectFill
                storeImage.sd_im

[2019-10-27 07:30] MoathOthman commented on #42
is the label tag < 0 ?

[2019-11-21 17:18] medHajajate opened #44 "The "fr" language is not a RTL language"
Hi,
In your class MOLHLanguage, the RTL language array contains the "**fr**" language, you should remove it, as you know the  **fr** isn't a RTL language,

Best Regards.

[2019-11-21 18:10] MoathOthman commented on #44
Correct, that was supposed to be fa. Will fix it asap

Sent from my iPhone

On Nov 21, 2019, at 8:18 PM, Med Hajajate <notifications@github.com> wrote:

﻿

Hi,
In your class MOLHLanguage, the RTL language array contains the "fr" language, you should remove it, as you know the fr isn't a RTL language,

Best Regards.

—
You are receiving this because you are subscribed to this thread.
Reply to this

[2019-11-21 21:08] MoathOthman commented on #44
fixed now , thnx for reporting.

[2019-11-21 21:08] #44 closed

[2019-11-29 14:45] MoKotb opened #45 "Language Not Change"
I use google map and dates and my app when change language my address not change to selected language and also date..
but when restart app its work why ??

[2019-12-04 12:03] Emy87aa commented on #41
Did you solved it, because i'm facing the same problem now.

[2019-12-04 12:06] Emy87aa opened #46 "application restart not working as well"
![WhatsApp Image 2019-12-04 at 2 17 24 PM](https://user-images.githubusercontent.com/1811875/70142947-140b8100-16a3-11ea-92f0-1815fd8b693b.jpeg)

When restarting the app this happens, nil in rootViewController

[2019-12-04 12:28] MoathOthman commented on #46
Hey eman , can you provide more details about the environment .
What did you do ?

Sent from my iPhone

[2019-12-04 12:35] Emy87aa commented on #46
I edited the issue and added screen Shot

[2019-12-04 12:56] supergenedy commented on #41
I made a solution for this issue till MoathOthman updates the lib
you can add this func in your AppDelegate it gets the window from SceneDelegate
[code]
You can check if ios > 13 then call this func from the app deletage
[code]

[2019-12-04 14:02] supergenedy commented on #46
@Emy87aa
I made a solution for this issue till MoathOthman updates the lib
you can add this func in your AppDelegate it gets the window from SceneDelegate

[code]
You can check if ios > 13 then call this func from the AppDelegate

[code]
And also check if ios > 13 in the reset func in the AppDelegate to call swichRoot func

[2019-12-04 22:19] abdullahayyad commented on #42
when using storyboard localize it should work
but in xCode11.1  have bugs in static table view cell well not localized
see [https://developer.apple.com/documentation/xcode_release_notes/xcode_11_1_release_notes/](url)

to fix issue you must handle it

[2019-12-11 16:34] MoathOthman commented on #45
for third party frameworks, you need to check if there is a local property or a way to set it.
and when the user taps on switching the language you can set that property, or call that function.
@MoKotb

[2019-12-11 16:35] #39 closed

[2019-12-15 12:05] islamnabil opened #47 "Label font doesn't change with language (Localization)"
When call "  MOLHFontLocalizableLabel().updateFont()" it's calling the function successfully but the label's font doesn't change

[2019-12-20 09:11] MoathOthman commented on #47
@islamnabil I added an example of how to change font to arabic . though this solution does nto cover all cases, only works of you have one arabic font with no different weights e.g. bold , italic... Check this library https://github.com/diyaa-hamza/DJHFontManager it might help.

[2019-12-20 09:20] MoathOthman commented on #46
@supergenedy thanx for the solution .

[2020-01-02 10:14] imuhammadjabbar opened #48 "App Getting Crashed for iOS 13"
The app is getting crashed on .reset() function. You are using delegate.window there but "window" has been moved to SceneDelegate in iOS 13.
UIView.transition(with: ((delegate.window)!)!, duration: 0.5, options: transition, animations: {}) { (f) in }

So, I tried to change it to sceneDelegate.window but it is still getting crashed.

Here is the screenshot for your reference: [https://imgur.com/ZuP

[2020-01-02 10:18] MoathOthman commented on #48
@imuhammadjabbar if you are not supporting iPad OS you can opt-out from using Scene delegate.

[2020-01-02 11:15] imuhammadjabbar commented on #48
But, I am setting my rootViewController in UISceneDelegate. I had implemented the reset() and MOLHResetable in UISceneDelegate as well. But still getting this crash.

[2020-01-02 11:17] imuhammadjabbar commented on #48
Any workaround you can suggest with UISceneDelegate?

[2020-01-02 11:23] MoathOthman commented on #48
check this issue https://github.com/MoathOthman/MOLH/issues/46 , it might help but I have not tried that tbh.

[2020-01-02 12:02] imuhammadjabbar commented on #46
@MoathOthman it does solve the animation crash issue but the language is not getting translated.

[2020-01-02 12:12] supergenedy commented on #46
@imuhammadjabbar did you call MOLH.setLanguageTo("YOUR_LANGUAGE") ?

[2020-01-02 12:47] imuhammadjabbar commented on #46
Yes, I did. ( MOLH.setLanguageTo(currentLanguage == "en" ? "ar" : "en") )
I set my default Language to Ar.

Seems like it is changing now. But My Side Menu is not working. or some images.
How can I change images manually(There were changing automatically with Changing System LAnguage)

And the side menu is not working as well.

Any help would be much appreciated. Thanks

[2020-01-02 13:01] MoathOthman commented on #46
@imuhammadjabbar there is a function for images `image.flipIfNeeded()`

[2020-01-29 10:24] mEldewaik opened #50 "Language of UIAlertViewController Does not change when Reset"
When Change Language from english to Arabic Or reverse UIAlertViewController does not localized unless i restart the app please i need fix i faced this issue and tried alot but can not find solution

[2020-01-29 10:29] abdallahnh commented on #50
@mEldewaik did you tried UIAlertController instead, I'm using it and it is fine.

[2020-01-29 10:30] mEldewaik commented on #50
@abdallahnh i use UIAlertViewController to share text does UIAlertController do the same ?

[2020-01-29 10:38] abdallahnh commented on #50
@mEldewaik yes sure it does

[2020-01-29 10:40] mEldewaik commented on #50
@abdallahnh  the code please 🙏

[2020-01-29 10:40] MoathOthman commented on #50
@mEldewaik can you share a screenshot of what are you trying to localize.  I guess you mean UIActivityViewController not UIAlertViewController as there is no such think AFAIK!

[2020-01-29 10:41] mEldewaik commented on #50
@MoathOthman yes i mean UIActivityViewController it can not be localized unless i close the app and open it again

[2020-01-29 10:56] MoathOthman commented on #50
I don\t there is a straight way  to achieve it since its part of uikit and ,  check https://medium.com/@dark_torch/working-with-localization-in-swift-part-2-e7c8a660eb2a on "Other Frameworks and bundles" section , at best you get to change the localization but not the layout.

[2020-01-29 11:52] mEldewaik commented on #50
@MoathOthman  i don't think it is the answer as it is already translated but its is not flipped and translated until i close and open the app again .

[2020-01-29 12:18] MoathOthman commented on #50
@mEldewaik I don't think it is possible, but I will look into it soon.

[2020-01-29 12:18] mEldewaik commented on #50
@MoathOthman  so can i disable localization for UIActivityViewController and use only english in all cases ?

[2020-01-29 12:21] MoathOthman commented on #50
no because you don't have access to the layout code and the localization is handled in another bundle.

if you can find the localization keys for the strings in the activityview , then there is a way. but i forgot tbh how to do that, if you managed to do that please let me know.

[2020-01-29 12:22] mEldewaik commented on #50
@MoathOthman i saw before application support english and arabic and the UIActivityViewController only in english

[2020-01-29 12:50] MoathOthman commented on #50
it would be interesting to be able to force certain language for certain strings,  or even certain view controllers. am not aware of any currently, but will look into it.

[2020-01-30 13:58] abdallahnh opened #51 "Kurdish language corrupted text"
I tried to use the Kurdish language ckb-IQ in my app and when I switch to this language some characters are not connected to each other, and when I used ku it is connected, so after doing some debugs and when I added ku to the iSRTLLanguage() it behave same as ckb-IQ so I guess when we forceRightToLeft for Kurdish language it is corrupting the text.

First, I thought it was an Xcode issue so I cre

[2020-01-30 14:13] MoathOthman commented on #51
@abdallahnh such issues sometimes caused by the font not supporting certain characters. maybe you can try another font. does the text looks fine without forcing right to left. or when changing the language from settings app.

[2020-01-30 14:15] abdallahnh commented on #51
@MoathOthman it thought that at the beginning and I tried diff kurdish fonts, but as I said using ku it worked and using ckb didn't and the only diff is having ckb in isRTLLanguage() and when I added ku to the isRTLLanguage then both contained the issue

[2020-01-30 14:31] MoathOthman commented on #51
@abdallahnh i just tried ckb-IQ on the demo project , seems fine.
![Simulator Screen Shot - iPhone 11 - 2020-01-30 at 17 31 15](https://user-images.githubusercontent.com/1166727/73458478-66f17400-4386-11ea-841e-00b19a32a7d4.png)

[2020-01-30 14:33] abdallahnh commented on #50
@mEldewaik i added some appearance changes please try from master and let me know if this fixed your issue

[2020-01-30 14:34] abdallahnh commented on #51
@MoathOthman where is the kurdish text :)

[2020-01-30 14:38] MoathOthman commented on #51
![Simulator Screen Shot - iPhone 11 - 2020-01-30 at 17 37 18](https://user-images.githubusercontent.com/1166727/73459029-3e1dae80-4387-11ea-8d19-2523e7286a56.png)
another sample taken from
https://www.omniglot.com/writing/kurdish.htm

[2020-01-30 14:38] abdallahnh commented on #51
@MoathOthman
using ckb
![IMG_4A8A22E26DF2-1](https://user-images.githubusercontent.com/14108529/73458934-b59b1000-437e-11ea-8017-de96dfbd1499.jpeg)
using ku
![IMG_563EEC26BB84-1](https://user-images.githubusercontent.com/14108529/73459066-ebd88f80-437e-11ea-91a7-dd3ca1b293b7.jpeg)

see the diff please

[2020-01-30 14:42] abdallahnh commented on #51
@MoathOthman please test this on your demo
ئۆە، دیارە پەیوەندیت بە ئینتەرنێت نەکردووە، تکایە دڵنیابە لە پەیوەندی ئینتەرنێت بکە و دووبارە بکەوە

[2020-01-30 15:21] abdallahnh commented on #51
@MoathOthman I used the same font for both and still the same

[2020-01-30 15:27] mEldewaik commented on #50
@abdallahnh so how can i test it please can you advice ?
how can i try your fix ?

[2020-01-30 15:40] MoathOthman commented on #51
seems fine as well.

[2020-01-31 08:19] abdallahnh commented on #51
@MoathOthman
are you setting the values from UI or by code, if you set it by code it will not work please confirm

[2020-01-31 09:17] MoathOthman commented on #51
@abdallahnh by code(Localizable.string). I will push it on another branch.

[2020-01-31 12:11] abdallahnh commented on #51
@MoathOthman AdobeArabicBold & droid-arabic-naskh

[2020-01-31 13:19] abdallahnh commented on #51
@MoathOthman when i deal with ku like ckb, "make it an RTL" the text disconnected

[2020-02-03 09:39] abdallahnh commented on #51
@MoathOthman thanks for your help, this was related to the Arabic font in our library

[2020-02-03 09:39] #51 closed

[2020-02-03 11:48] mEldewaik commented on #50
@abdallahnh i download the pod and implement button and make a share but the issue still exist i can not find solution :(

[2020-02-12 13:16] abdallahnh commented on #46
The crash is happening because we are forced unwrapping the window

[2020-02-27 10:28] Emy87aa commented on #50
@mEldewaik I think you may when building your app at the start, you build it as (Arabic) in Storyboard when the app default language is (en) in xcode , so that it is verse the language wrong.
you should set the language of app to be (ar) first from (Edit Scheme) when build Arabic storyboard
<img width="1051" alt="Screen Shot 2020-02-27 at 12 26 04 PM" src="https://user-images.githubusercontent.com

[2020-03-01 12:40] AlaaElrhmanArafa opened #54 "Can’t embed molh in objective c project"

[2020-04-01 21:20] AAlboghdady opened #55 "images does flip even I forced it to LTR"
Hello,
I have a problem when changing the language to Arabic at runtime without re-opening the app.

Thanks

![ar](https://user-images.githubusercontent.com/40522503/78187683-2a69f380-746f-11ea-84fd-4e4162382d32.png)
![en](https://user-images.githubusercontent.com/40522503/78187757-4b324900-746f-11ea-9a7c-539b600a8830.png)

[2020-04-25 18:11] MoathOthman commented on #54
I have not tried that tbh in an objc project.

[2020-04-25 19:59] MoathOthman commented on #48
Fixed

[2020-04-25 19:59] #48 closed

[2020-04-25 20:00] MoathOthman commented on #46
fixed in 1.3

[2020-04-25 20:00] #46 closed

[2020-05-06 09:00] islamnabil commented on #48
Hi @MoathOthman ,
I have the same issue here at iOS 13 ... I don't iPad OS .. just iPhone

[2020-05-06 09:02] MoathOthman commented on #48
@islamnabil have you check latest version. i made a fix recently for this.

[2020-05-06 09:33] islamnabil commented on #48
yes I've installed version 1.9.1
@MoathOthman

[2020-05-06 09:54] MoathOthman commented on #48
its v1.3 !

[2020-05-06 09:57] islamnabil commented on #48
https://imgur.com/n33EM1l 😄

[2020-05-06 10:27] MoathOthman commented on #48
that's actually the cocoapods version, you can find the molh version in the Podfile.lock  heh.

[2020-05-26 19:50] mohamednabihfci opened #58 "Not work fine with Zendesk Chat"
https://developer.zendesk.com/embeddables/docs/chat-sdk-v-2-for-ios/introduction

[2020-05-26 20:05] MoathOthman commented on #58
I will take a look at this soon , as am working on a project currently with zendesk sdk.

Sent from my iPhone

On May 26, 2020, at 10:50 PM, mohamednabihfci <notifications@github.com> wrote:

﻿

https://developer.zendesk.com/embeddables/docs/chat-sdk-v-2-for-ios/introduction

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https:/

[2020-05-26 20:07] mohamednabihfci commented on #58
Thanks

[2020-05-28 11:20] Mohamedawad2020 commented on #58
there is a problem in reset method in ios 13 ?

[2020-05-28 11:34] MoathOthman commented on #58
We had it fixed in latest release , Whats the issue ur facing and what is ur setup?

Sent from my iPhone

On May 28, 2020, at 2:20 PM, Mohamedawad2020 <notifications@github.com> wrote:

﻿

there is a problem in reset method in ios 13 ?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/MoathOthman/MOLH/issues/58#issuecomment-63527917

[2020-05-28 11:36] mohamednabihfci commented on #58
When switch language inside app and goto chat, localized text not related to current language

[2020-05-28 11:40] MoathOthman commented on #58
What about other parts in the app?

Sent from my iPhone

On May 28, 2020, at 2:37 PM, mohamednabihfci <notifications@github.com> wrote:

﻿

When switch language inside app and goto chat, localized text not related to current language

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/MoathOthman/MOLH/issues/58#issuecomment-635285980>

[2020-05-28 11:46] Mohamedawad2020 commented on #58
i setup MOLH 1.3
and i do that in appdelegate
 MOLHLanguage.setDefaultLanguage("en")
        MOLH.shared.activate(true)
        MOLH.shared.specialKeyWords = ["Cancel","Done"]
.... when i change language to (ar) no transition occure

[2020-05-28 11:53] mohamednabihfci commented on #58
Other parts work fine

[2020-05-28 14:04] Mohamedawad2020 opened #59 "reset func not work in version 1.3"

[2020-05-28 15:57] abdallahnh commented on #59
@MoathOthman this is happening with me as well, any quick fix for this?

[2020-05-28 16:05] MoathOthman commented on #59
with using scenedelegate or not? I am on it currently.

[2020-05-28 16:13] abdallahnh commented on #59
the issue is when y ou are on ios 13 and you are not using scene

[2020-05-28 16:14] abdallahnh commented on #59
`open class func reset(transition: UIView.AnimationOptions, duration: Float = 0.5) {
        if #available(iOS 13.0, *) {
          ----->>>  for scene in UIApplication.shared.connectedScenes {
                (scene.delegate as? MOLHResetable)?.reset()
            }
        } else {
            if let delegate = UIApplication.shared.delegate {
                if delegate is MOLHResetable {

[2020-05-28 16:16] MoathOthman commented on #59
let me fix it.

[2020-05-28 16:34] #59 closed

[2020-05-28 16:34] MoathOthman commented on #59
fixed in 1.4, please try that @Mohamedawad2020 @abdallahnh

[2020-05-31 13:07] oenama opened #60 "set Default Language to Arabic not working right on first run"
on **didFinishLaunchingWithOptions**

[code]

UITextField, UITextView, UINavigationController's swipe gesture for back are not flipped right on the first run.
and I did uncheck 'Respect language direction' in one or two places in storyboard, but it was flipped to left as if I didn't uncheck this option.

I tried to change semanticContentAttribute, but it didn't work either :

[code]

is that norma

[2020-05-31 14:15] MoathOthman commented on #60
@oenama you can call `reset()` function after `  MOLH.shared.activate(true)` , that should fix it for you,, the reason for the previous behaviour is that the root is already set when you call
[code]
let me know how it goes with you

[2020-06-01 09:55] oenama commented on #60
same issue at first run.

[2020-06-01 10:36] MoathOthman commented on #60
Can you try the demo project and compare the results

Sent from my iPhone

On Jun 1, 2020, at 12:56 PM, oenama <notifications@github.com> wrote:

﻿

@oenama<https://github.com/oenama> you can call reset() function after MOLH.shared.activate(true) , that should fix it for you,, the reason for the previous behaviour is that the root is already set when you call

  MOLH.reset()
       MOLHLanguage.se

[2020-06-01 17:56] oenama commented on #60
I've tested it on the demo project, added what you suggested, UITextField flipped correctly, but still, UINavigationController's swipe gesture not flipped to right on first run.

[2020-06-01 18:26] MoathOthman commented on #60
https://youtu.be/RXyFiy8OEq4

I tried it in the demo , it seems fine, clone the latest code.

the code looks like this
[code]
@oenama

[2020-06-01 19:00] oenama commented on #60
for UINavigationController's back button, I meant the **swipe gesture** itself

on first run --> https://www.dropbox.com/s/md5l0n1phj3sfhz/01.mov?dl=0
the normal/ defualt behaviour for RTL --> https://www.dropbox.com/s/7m3g8u582zr5r18/02.mov?dl=0

@MoathOthman

[2020-06-01 19:43] MoathOthman commented on #60
I see, thats weird

[2020-08-18 08:47] muzamilhassan1987 opened #62 "Language not changed on camera icons and toolbar"
When i change language almost everywhere it change but not change on IQKeyboard bar title like cancel, done etc
and not changing for camera like Cancel, Retake, Use Photo etc

[2020-10-13 13:13] ElSawyMohamed opened #63 "when change language to Urdu or Arabic and run app , texts font changed to this font"
[
![Screen Shot 2020-10-13 at 3 10 54 PM](https://user-images.githubusercontent.com/31069080/95864999-6f4bdc80-0d66-11eb-8d4a-0967564e0944.png)
](url)

[2020-10-15 20:01] MoathOthman commented on #63
@ElSawyMohamed is this in the demo ?

[2020-10-21 15:19] mehroozkhan commented on #34
I am getting same issue while showing UIContxtMenu,  Have a look at the attached screenshot

![Simulator Screen Shot - iPhone 11 - 2020-10-21 at 19 44 44](https://user-images.githubusercontent.com/17316374/96740844-a9f2ec00-13da-11eb-9605-14c7c6a4fc37.png)

Please help me

[2020-10-21 16:15] MoathOthman commented on #34
you need to refresh the view some home, can you share some code @mehroozkhan

[2020-10-21 18:13] mehroozkhan commented on #34
@MoathOthman moreover when I view it in debug view hierarchy it looks okay,

<img width="355" alt="Screenshot 2020-10-21 at 7 51 48 PM" src="https://user-images.githubusercontent.com/17316374/96762891-edf1eb00-13f2-11eb-98c3-f428335570ef.png">

please help me its been 2 days now, I am stuck here

[2020-10-21 18:28] MoathOthman commented on #34
@mehroozkhan can you create a small demo. i just tried context menu but not from the table view delegate and it was fine. but your case is a bit different

[2020-10-21 18:46] mehroozkhan commented on #34
@MoathOthman you want me to create demo project or demo video ?
I used the same code in another project and that's working fine,

For English language it works fine, getting this flipped issue only for arabic (RTL)

[2020-10-21 18:56] MoathOthman commented on #34
demo project would be great

[2020-10-24 08:04] MoathOthman commented on #34
@mehroozkhan did you find a way to resolve it?

[2020-10-24 08:18] mehroozkhan commented on #34
@MoathOthman Not yet,
actually, it's a big project, I don't know how to create a demo project out of it.

[2020-10-24 09:35] MoathOthman commented on #34
@mehroozkhan have you tried
` self.tableView.semanticContentAttribute = .unspecified`

[2020-10-24 11:03] mehroozkhan commented on #34
@MoathOthman yes, did not work,
I can't understand why it shows correctly in debug view hierarchy

<img width="1678" alt="Screenshot 2020-10-24 at 4 02 35 PM" src="https://user-images.githubusercontent.com/17316374/97080100-769aa200-1612-11eb-84f0-3803dbb283e8.png">

[2020-11-02 12:35] omar1taha commented on #60
I'm facing the same issue, after the first run all the alignment is good but the first install and run is not activated. Any updates on this issue?

[2020-11-11 16:50] AbuMandour commented on #60
am have the same problem also in iPhone v 14.0.1

[2020-11-12 08:38] MoathOthman commented on #60
@oenama I am terribly sorry for the late reply, got really busy and forgot about this issue. for the navigation issue its now fixed 👍  in version 1.4.3
@AbuMandour u facing the same issue or the default language not working?
@omar1taha  sorry for the late reply, the keypoint here is to call reset after setting the default language, check the code above in this thread

[2020-11-12 11:45] MoathOthman commented on #34
@mehroozkhan any luck ?

[2020-11-12 11:46] #42 closed

[2020-11-12 11:59] mehroozkhan commented on #34
@MoathOthman Yes, I fixed it, in xcode project my development language was set to arabic,
I changed it to english, thats it.

[2020-11-12 12:23] MoathOthman commented on #34
@mehroozkhan  you mean the app language from the project scheme ?!
![Screen Shot 2020-11-12 at 3 23 03 PM](https://user-images.githubusercontent.com/1166727/98939752-f96c9980-24fa-11eb-8b65-198ddf33d2a3.png)

[2020-11-12 12:30] mehroozkhan commented on #34
@MoathOthman not app language, its development language, I don't know how it got set to arabic.

![Screen Shot 2020-11-12 at 5 26 23 PM](https://user-images.githubusercontent.com/17316374/98940427-c7fcc980-250c-11eb-96eb-419843a3f361.png)

[2020-11-12 12:41] MoathOthman commented on #34
mm, but how do u do localization?

[2020-11-12 12:49] mehroozkhan commented on #34
@MoathOthman I did not understand, No using localization in storyboard,

doing localization via code only.

[2020-11-12 12:50] MoathOthman commented on #34
I see, good to hear to worked out for you 👍

[2020-11-12 17:15] #34 closed

[2020-11-12 17:15] #63 closed

[2020-11-17 20:56] AbuMandour commented on #60
@MoathOthman  when I set default language to Arabic first time some alignment didn't apply in the right way but it fixed once close and reopen

[2020-11-18 23:08] MoathOthman commented on #60
@AbuMandour hey, can you provide example e.g. screenshots of the ui elements not working.

[2020-12-04 13:38] YallaDealz opened #64 "after update xcode and swift version"
after update xcode and swift version  most of screen not fit and make some problems in Arabic and English location

are there any next update?

[2020-12-06 18:00] MoathOthman commented on #64
@YallaDealz can you give more details , as to which xcode version and swift version.

[2020-12-06 18:59] YallaDealz commented on #64
Xcode 12.2
Swift 5.3

[2020-12-06 19:02] YallaDealz commented on #64
![Uploading 71A0BC94-F832-4678-A3BD-2791B346FF50.jpeg…]()

[2020-12-06 19:03] YallaDealz commented on #64
If i switch between arabic to english its give me this conflict on data

[2020-12-06 19:03] YallaDealz commented on #64
![Uploading 1FD99234-AC21-4107-BEC0-0CD464E0AB11.jpeg…]()

[2020-12-07 10:14] MoathOthman commented on #64
@YallaDealz sorry for the late reply, i can't see the images you uploaded

[2020-12-07 10:15] MoathOthman commented on #64
i will update the xcode though and try

[2020-12-07 10:24] YallaDealz commented on #64
ok, update and check Xcode please also this image link to check if I switch between languages what's happening?
https://prntscr.com/vxdx1h

[2020-12-07 11:11] MoathOthman commented on #64
@YallaDealz thank you, i will update xcode tonight and check if i can reproduce the issue.

[2020-12-07 11:14] YallaDealz commented on #64
ok thanks for your fast reply, i will waiting your feedback ASAP.

Thanks

[2020-12-08 09:46] MoathOthman commented on #64
I just tried it ,seems like labels are not correctly flipping the alignment, i will try to fix it soon, but for now this fails on label where you set the left and right constraints, but usually you don't need that, usually just constraining one side would be enough and the label will resize based on its width

[2020-12-08 11:26] YallaDealz commented on #64
ok i wil try to fix from my side this issue but when you publish an update please inform me

thanks

[2020-12-09 12:18] YallaDealz commented on #64
we removed all constrains but still the problem is presist
so we noticed if we switched between language this problem is happening but if we closed the app and reopen it again we notice the problem is not found and all text is aligned so the problem now in switching between two languages during the app is running

[2020-12-10 09:02] MoathOthman commented on #64
@YallaDealz actually you should be setting the label tags to less than 0 , try setting the label tags for example -1 or less.
this should solve the problem as well, if you don't want the label to flip make it more than 0.
you dont need to remove all constraints just from one side e.g. if label is located on the left size constraint top and left should be enough, also you can add conditional constr

[2020-12-10 09:29] YallaDealz commented on #64
ok i will try and back to you with feedback
Thanks

[2020-12-13 06:24] MoathOthman commented on #64
@YallaDealz did it work with you ?

[2020-12-15 10:51] #64 closed

[2020-12-31 13:35] AbuMandour commented on #60
in AppDelegate I do this
[code]

and in any controller label direction goes to ltr just in the first run and with labels which load from API
![134728416_395307324882374_4707758817411621812_n](https://user-images.githubusercontent.com/23154124/103412443-c8652880-4b7d-11eb-81ec-3a703ca3a5bf.jpg)

[2021-01-01 14:45] Hzza3 commented on #60
@MoathOthman I have the same issue, application in the first launch alignment is wrong and i have to terminate the app and reopen again

[2021-01-01 20:18] MoathOthman commented on #60
@AbuMandour @Hzza3 hey guys, can you check this issue https://github.com/MoathOthman/MOLH/issues/64,  you need to se the tags for the labels.

[2021-01-05 14:39] aledap opened #65 "UIDatePicker & UISearchBar not changing language after reset"
I am changing the root in the reset method on language change. But the date picker and UISearchBar is not showing the correct language. Only after the app has restarted is the view being correctly updated.

[2021-01-06 11:48] MoathOthman commented on #65
@aledap
[code]

[2021-01-20 15:33] ASamirbadran commented on #60
same issue here

[2021-01-20 15:48] ASamirbadran commented on #40
same here on the first run

[2021-01-25 19:42] MoathOthman commented on #60
@ASamirbadran
have you tried
~```
MOLHLanguage.setDefaultLanguage("ar")
         MOLH.shared.activate(true)
[code]

[2021-01-25 20:44] ASamirBadranIbtikar commented on #60
@MoathOthman  yes and problem still exist
Note : iam using swiftgen in my app

[2021-01-25 20:55] MoathOthman commented on #60
@ASamirBadranIbtikar what did you try? what was the result exactly? and what do you expect?
cam you provide sample screenshot or any info to help us here, if you can reproduce it in a sample code it will be great.
i have not tried swiftgen but i don;t think it will   hurt unless it does swizzling or something on the run time.

[2021-11-10 15:47] EbrahimElsify opened #67 "i have to close and open app to make view flipped case arabic language is ok but view still not flipped on first time run"

[2021-11-10 15:51] MoathOthman commented on #67
@EbrahimElsify have you tried the demo ? can you provide more informaiton , like which xcode version , iOS version ,

[2021-11-14 12:34] fifisamy commented on #65
This not work without Restart App

[2021-11-19 09:30] PunitSV opened #68 "Apple pay button text is not localised when we change the language from app but when app is restarted it works fine"
I have Apple pay button as one of the payment option in the app. When I switch language in app using MOLH and go to payment options screen, button text is not shown in changed language but if I restart the app and check it is shows correct.

I have also compared my code with sample app. pls help me on this.

[2022-01-17 16:39] SyedRafayAbrar commented on #65
can you tell me how can we change UIActivityController

[2022-01-21 20:31] #67 closed

[2022-06-20 11:54] mohamedfawzidev commented on #45
@MoathOthman What if the third party framework doesn't give me access to such property like `GMSAutocompleteViewController` from [Google Places iOS SDK](https://developers.google.com/maps/documentation/places/ios-sdk/reference/interface_g_m_s_autocomplete_view_controller)

[2022-06-22 06:46] MoathOthman commented on #45
Hey,
Can you make a branch of the demo and add the sdk with a sample to try it .
In general we dont have access to external frameworks unless they provide properties like locale , but lets see if there is a way to deal with it here

Best.

Moath othman

On 20 Jun 2022, at 2:54 PM, Mohamed Mostafa Fawzi ***@***.***> wrote:

﻿

@MoathOthman<https://github.com/MoathOthman> What if the third party fra

[2022-06-22 12:32] mohamedfawzidev commented on #45
@MoathOthman Thank you so much for the quick reply, please check the branch I created with the issue demonstrated and implemented like you asked.
https://github.com/MohamedMostafaFawzi/MOLH/tree/issue45/external-framework-example-google-places
Thank you again, I really appreciate your help.

[2022-06-22 12:42] MoathOthman commented on #45
Thank you , I will check if there is a way to handle it

[2022-07-28 07:22] khaledbohout2 opened #72 "numbers language does not change after localization till restarting the app"

[2022-08-09 11:57] MoathOthman commented on #72
@khaledbohout2  you mean number formatting ? I don't believe MOLH handles that. are you using the nsformatter and setting locale to currentLocale ?, to handle that wherever you do set the locale check the current language and set it accordingly

[2022-08-09 12:01] khaledbohout2 commented on #72
@MoathOthman any string on the containing numbers, iOS converts these numbers to local language so when you force localize using MOLH while opening the app numbers do not change until restarting app,  nsformatter does not solve that.

[2022-08-09 12:03] MoathOthman commented on #72
@khaledbohout2  what are you doing currently to format the numbers ?
can u give some code snippet

[2022-08-09 12:08] khaledbohout2 commented on #72
@MoathOthman i am not doing any formatting you know for example date returned from backend 09/08/2022 it appears like that in english but in arabic ٩/٨/٢٠٢٢ without doing any thing, iOS does this, when force localizing to different language while opening the app using MOLH the numbers does not change

[2022-09-20 08:35] abdallahnh opened #73 "App Crash Randomly"
crash summary:
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Not possible to remove variable:

After searching for a solution i found this thread: [https://developer.apple.com/forums/thread/674689](https://developer.apple.com/forums/thread/674689)

Did anyone face this crash?

in the thread they mentioned

I had a similar issue, resolved it just yesterday.

[2022-09-23 08:44] MoathOthman commented on #73
@abdallahnh i don;t recall facing it, could u reproduce it?

[2022-10-10 10:06] abdallahnh commented on #73
it is hard to reproduce

[2022-10-11 09:04] mohamedfawzidev opened #75 "Regressed crash in MOLH file"
I have this regressed crash that rarely happens in
[code]
and I don't really know what is the reason since there's no memory leaks in that class at all, here is the stack trace:

_Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000004_

[code]

[2022-11-10 12:52] MoathOthman commented on #75
@mohamedmostafafawzi  hey , have you managed to figure this out.

[2022-11-10 14:25] abdallahnh commented on #75
No

On Thu, Nov 10, 2022, 2:52 PM Moath othman ***@***.***> wrote:

[2022-11-22 11:09] MoathOthman commented on #73
@abdallahnh i know its late but we had similar crash recently , and it was because of missed up autolayout, so basically resolving the autolayout issues/warning should do it.